*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0%;
    padding: 0%;
    /* border: solid 1px red; */
}
button{
    color: white;
    background-color: rgb(41, 44, 146);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}
table{  width: 100%;  }

p{  padding: 5px;  }

h3, h2{  
    text-align: center; 
    padding: 10px; 
    margin-bottom: 0% !important;
}
/* Navbar */
.head{
    background-color: #156597;
}
.head .navbar {
    background-color: transparent !important;
    color: white !important;
}
#navLogo{
    margin: 10px;
}

/*first container*/
#first-container{
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("./IMG/spaceship3.gif");
    background-size: cover;
    background-position: center;
    font-size: 19px;
}
#welcome{
    font-weight: 800;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(2px);
}
#main-img{
    width: 180px;
    margin: 1.5rem;
}

/*Sobre mí*/
#about{
    background-color: #156597;
    color: rgb(255, 255, 255);
    padding: 1rem; 
}
#welcome ul li{
    display: inline-block;
}
#hobbies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #156597;
    color: white;
}
.hob{
    padding: 10px;
    font-weight: 700;
    margin: 0.3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#soft-skills{
    background-image: url("./IMG/spaceplanet.png");
    background-size: contain;
    background-position: center;
    background-color: #1E2330;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #ecf0f1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

#soft-skills h1{ margin-bottom: 35px;  }

.scroller {
    height: 40px;
    line-height: 45px;
    position: relative;
    overflow: hidden;
    width: 300px;
}
#divider{
    width: 300px;
    height: 30px;
}
.scroller > span {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
    font-weight: bold;
    font-size: 40px;
    margin: auto;
}


/* Skills */
.skills{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #1B233A;
    color:aliceblue;
    padding: 10px;
}
#coding{
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.skill{
    width: 200px;
    display: flex;
    align-content: center;
    align-items: center;
    margin: 10px;
}
.sk-logo{
    width: 40px;
    margin: 5px;
}

/*Contenido en colunmas*/
#about, #experiencia,  #academy, #proyectos{
    flex-direction: column;
}

/*Experiencia profesional*/
#proyectos{
    background-image: url("./IMG/149h.gif");
    background-size: contain;
    color: white;
}
.proyecto{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    margin: 1rem;
}
.id-proyecto{
    display: flex;
    align-items: center;
}
#proyectDescription{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    backdrop-filter: blur(0.5px);
    font-weight: 900;
    color:rgb(242, 242, 242);
}
#botones{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
}
/*Contacto*/
#contacto{
    background-color: #201D3A;
    color: white;
}
#social-media{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.social-icon{
    position: relative;
    margin: 10px 20px;
}
.social-icon:hover{
    scale: 1.5;
}

.social-icon a{
    text-decoration: none;
}

/*Clases generales*/
.img_redonda{  
    border-radius: 200px;  
    width: 100%;
}

.logo{  width: 7vmax;  }

.gray{  
    background-color:#f5f5f5;  
    color: darkblue;
}
.blue2{
    background-color: #156597;
    color: rgb(255, 255, 255);
}
.centrado{
    text-align: center;
}
.flex{
    display: flex;
    position: relative;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.5rem;
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 5px #999;
}

/*Proyectos*/
.img-proyecto{
    width: 50%;
    display: inline-block;
}
.id-proyecto{
    height: 100%;
    display: inline-block;
}
.repositorio{
    width: 45%;
    border:solid 1px #2A7AE4;
    border-radius: 5px;
    background-color: #f5f5f5;
    color:#2A7AE4;
}
.ver-demo{
    width: 45%;
    background-color: #2A7AE4;
    border-color: #2A7AE4;
    border-radius: 5px;
    color:white;
}

/*Pseudoclases*/
button:hover{
    font-weight: bold;
}

/*Bootstrap*/
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.57);
    border-radius: 35px;
    backdrop-filter: blur(19px);
}

.carousel-caption p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 900;
    color:#ffffff; 
    /* background-color: rgba(0, 0, 0, 0.57); */
    /* -webkit-text-fill-color: rgb(80, 148, 208);
    -webkit-text-stroke: 1px rgb(255, 255, 255);  */
    text-align:center;
    letter-spacing: 0;
}
.carousel-caption h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight:900;
    color:white;
    /* background-color: rgba(0, 0, 0, 0.57); */
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    /* filter: invert(108%); */
    filter:  drop-shadow(0px 0px 3px rgb(33, 33, 217));    
} 

/* KEYFRAMES */
@keyframes slide {
    0% {
        top: 0;
    }
    25% {
        top: -1.2em;
    }
    50% {
        top: -2.4em;
    }
    75% {
        top: -3.6em;
    }
}