* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0%;
    padding: 0%;
}

button {
    color: white;
    background-color: rgb(41, 44, 146);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}

table {
    width: 100%;
}

p {
    padding: 5px;
}

h3,
h2 {
    text-align: center;
    padding: 10px;
    margin-bottom: 0% !important;
}

#proyectos li::marker {
    content: var(--list);
}


/* Features  */
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
    background-color: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

#gt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#gt p {
    margin: 0%;
    padding: 0%;
    margin: 0 5px;
}

/* Navbar */
.head {
    position: relative;
}

.head .navbar {
    width: 100vw;
    color: white !important;
    position: fixed;
    z-index: 2;
    top: 0;
}

#navLogo {
    width: 45px;
    height: 45px;
    background-image: var(--bgNavLogo);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
}

#progress-bar {
    height: .5rem;
    width: 0%;
    position: fixed;
    background-color: var(--progBar);
    margin-top: 5px;
    z-index: 3;
}

/*first container*/
#first-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: var(--bgDinamic);
    background-color: #1E2330;
    background-size: contain;
    background-position: center;
    font-size: 19px;
    margin-top: 75px;
}

#welcome {
    width: 70%;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    backdrop-filter: blur(2px);
    background-color: rgba(41, 52, 86, 0.258);
    border-radius: 15px;
    margin: 15px;
}

#main-img {
    width: 240px;
    height: 240px;
    background-image: var(--ProfileImg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 150px;
}

/*Sobre mí*/
#about {
    background-image: var(--bgAbout);
    background-color: var(--bgAbout);
    background-size: cover;
    background-position: top;
    background-position-y: 13%;
    box-sizing: unset;
    color: rgb(255, 255, 255);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

#textContainer {
    width: 100%;
}

#welcome ul li {
    display: inline-block;
}

/* Skills */
.skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: aliceblue;
    padding: 10px;
    background-color: var(--sectionBg);
}

marquee {
    padding: 3%;
}

#skContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skContainer td {
    margin: 10px;
}

#coding {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#hobSection {
    display: flex;
    flex-direction: column;
    background-color: var(--sectionBg);
    color: white;
    padding: 20px;
}

#hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hob {
    padding: 10px;
    font-weight: 700;
    margin: 0.3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* SOFT SKILLS */
#soft-skills {
    background-image: var(--bgSoft);
    background-size: contain;
    background-position: center;
    background-color: #1B233A;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #ecf0f1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

#soft-skills h1 {
    margin-bottom: 35px;
}

.scroller {
    height: 40px;
    line-height: 45px;
    position: relative;
    overflow: hidden;
    width: 300px;
}

#divider {
    width: 300px;
    height: 30px;
}

.scroller>span {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
    font-weight: bold;
    font-size: 40px;
    margin: auto;
}

/* Formación Academica */
#academy {
    /* background-color: #1B233A; */
    background-image: var(--bgAcademy);
    background-position: center;
    background-size: contain;
    color: white;
    font-weight: 900;
    padding: 5%;
}

/* Idiomas  */
#Eng {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0px;
}

#view>a {
    text-decoration: none;
    color: #6C757D;
}

#view>a:hover {
    color: white;
}

.engCard {
    margin: 0% !important;
    padding: 0% !important;
}


/*Contenido en columnas*/
#about,
#experiencia,
#academy,
#proyectos {
    flex-direction: column;
}

/*Experiencia profesional*/
#insignias,
#code {
    padding: 20px;
    background-image: var(--bgCards);
    background-position: center;
    background-size: contain;
}

#badges {
    display: flex;
    flex-wrap: wrap;
}

.badgeCard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 200;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    margin: 7px;
    width: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 8px 4px #d3d3d37e;
}

#experiencia {
    background-image: var(--bgXp);
    color: #ffffff;
    font-weight: 800;
}

#proyectos {
    background-image: var(--bgProyects);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: var(--proyectColor);
    color: white;
}

.proyecto {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    padding: 1rem;
}

.id-proyecto {
    display: flex;
    align-items: center;
}

#proyectDescription {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    backdrop-filter: blur(0.5px);
    font-weight: 900;
    color: rgb(242, 242, 242);
}

#botones {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
}

/*Contacto*/
#contacto {
    background-color: #1B233A;
    color: white;
}

#social-media {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social-icon {
    position: relative;
    margin: 10px 20px;
}

.social-icon:hover {
    scale: 1.5;
}

.social-icon a {
    text-decoration: none;
}

.logo {
    width: 100px;
    padding: 5px;
}

.flex {
    display: flex;
    position: relative;
}

/* CARTAS CON GLASS EFFECT  */
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.glass-effect {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: stretch;
}

/*Proyectos*/
.img-proyecto {
    width: 70%;
    margin: 10px;
    display: inline-block;
}

.id-proyecto {
    height: 100%;
    display: inline-block;
}

.repositorio {
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #201D3A;
    padding: 7px;
}

.ver-demo {
    background-color: #201D3A;
    border-color: #201D3A;
    border-radius: 5px;
    color: white;
    padding: 7px;
}

/*Pseudoclases*/
button:hover {
    font-weight: bold;
}

/*Bootstrap*/
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.57);
    border-radius: 35px;
    backdrop-filter: blur(19px);
}

.carousel-caption p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0;
}

.carousel-caption h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: white;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: drop-shadow(0px 0px 3px rgb(33, 33, 217));
}

/* KEYFRAMES */
@keyframes slide {
    0% {
        top: 0;
    }

    25% {
        top: -1.2em;
    }

    50% {
        top: -2.4em;
    }

    75% {
        top: -3.6em;
    }
}

/* CARRUSEL */
.body {
    height: 600px;
    background-image: var(--carouselImg);
    background-size: contain;
    background-color: var(--carouselColor);
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 6;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #90f1ef;
    background-image: url('./IMG/eventos/1.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #ff70a6;
    background-image: url('./IMG/eventos/8.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #ff9770;
    background-image: url('./IMG/eventos/4.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #ffd670;
    background-image: url('./IMG/eventos/5.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #e9ff70;
    background-image: url('./IMG/eventos/2.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div.item:nth-of-type(6) {
    --offset: 6;
    background-color: #e9ff70;
    background-image: url('./IMG/eventos/2.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input:nth-of-type(1):checked~main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

input:nth-of-type(2):checked~main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}

input:nth-of-type(3):checked~main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

input:nth-of-type(4):checked~main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

input:nth-of-type(5):checked~main#carousel {
    --position: 5;
}

input:nth-of-type(6) {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
}

input:nth-of-type(6):checked~main#carousel {
    --position: 6;
}


/* Valentine´s Mode */

/* Estilos para el modo claro */
[data-theme="light"] {
    --bgNavLogo: url('./IMG/astro.png');
    --sectionBg: #1B233A;
    --bgDinamic: url("./IMG/planetsAnimation.gif");
    --bgSoft: url("./IMG/rocket_7.gif");
    --bgCards: #FFFFFF;
    --bgAbout: url("./IMG/aboutme.png");
    --bgAcademy: url("./IMG/solarsistem.gif");
    --bgProyects: url("./IMG/earth.gif");
    --bgXp: url("./IMG/spacechase_dribbble.gif");
    --ProfileImg: url("./IMG/ProfileBlue.jpg");
    --carouselColor: #171C3D;
    --carouselImg: url("./IMG/space.webp");
    --proyectColor: #1B233A;
    --progBar: cadetblue;
    --list: '✨';
}

/* Estilos en modo oscuro */
[data-theme="dark"] {
    --bgNavLogo: url("./IMG/empathy_icon.webp");
    --sectionBg: #FF8FA7;
    --bgAbout: #1C2F48;
    --bgAcademy: url("./IMG/bluebackHearts.jpg");
    --bgCards: url("./IMG/fallingHearts.gif");
    --bgDinamic: url("./IMG/bluebackHearts.jpg");
    --bgSoft: url("./IMG/snakeHeart.gif");
    --bgProyects: url("./IMG/bubbleHearts.gif");
    --bgXp: url("./IMG/bluebackHearts.jpg");
    --ProfileImg: url("./IMG/profilePink.jpg");
    --carouselColor: #1A2E47;
    --proyectColor: #FF8FA7;
    --progBar: rgb(187, 26, 26);
    --list: '💗';
}